<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <title>{% block title %}FootyJokes{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {% block meta %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}
        
        {% block stylesheets %}
            {% stylesheets 
                'bundles/fjmain/css/bootstrap.css'
                'bundles/fjmain/css/style.css'
                filter='yui_css,cssrewrite' 
                output='css/main.css' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}">
    </head>
    <body>
        <!-- inside a twig template -->
        {{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();'}) }}
        <div id="header">
            <div class="container">
                <div class="connect-box">{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}Hi {{ app.user.fullName }}{% endif %}{{ facebook_login_button({'autologoutlink': true}) }}</div>
                <h1 class="brand">
                    <a href="{{ path('homepage') }}" class="logo">Footy<span>Jokes</span></a>
                </h1>
                <p class="lead">Best memes about football.</p>
            </div>
        </div>
        <div class="container">
                
            {% for message in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {% autoescape false %}{{ message }}{% endautoescape %}
                </div>
            {% endfor %}

            {% for message in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {% autoescape false %}{{ message }}{% endautoescape %}
                </div>
            {% endfor %}
                
            {% block content %}{% endblock %}
        </div>
        
        {% block javascripts %}
            {% javascripts 
                '@FJMainBundle/Resources/public/js/jquery.js'
                '@FJMainBundle/Resources/public/js/bootstrap.js'
                filter='yui_js'
                output='js/main.js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
